@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b1120] text-white;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}

